@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-primary-1: #f9fafb;
  --color-primary-2: #1d4ed8;
  --color-primary-3: #f97316;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Roboto', sans-serif;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}

@layer base {
  :root {
    font-family: var(--font-body);
    color: var(--color-text-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-semibold);
  }

  p,
  span {
    font-family: var(--font-body);
  }
}
@layer base {
}
